.grey-wrapper-coinInfo{
    display: block;
    width: 90%;
    background-color: var(--darkgrey);
    margin: 1.5rem auto;
    border-radius: 0.8rem;
    padding: 1rem 0.5rem;
}

.coin-info-heading{
    margin: 0 1rem;
    cursor: pointer;
}

.coin-info-desc{
    margin: 1rem 1rem;
    cursor: pointer;
}

.coin-info-desc a{
    text-decoration: underline !important;
}

.coin-info-desc a:hover{
    color: var(--blue) !important;
}