.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--black);
    z-index: 999;
}

.logo{
    font-size: 1.5rem;
}

.links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem 2rem;
}

.link{
    color: var(--grey);
    font-weight: 500;
    font-size: 1.2rem;
}

.link:hover{
    color: var(--white);
    transition: all 0.3s;
}

.mobile-drawer{
    display: none;
}

@media only screen and (max-width: 800px){
    .logo{
        font-size: 1rem;
    }
    .navbar{
        padding: 1.5rem;
    }
    .link{
        font-size: 0.8rem;
    }
    .links{
        display: none;
    }
    .mobile-drawer{
        display: block;
    }
    .drawer-div{
        width: 40vw;
        background-color: var(--black);
        height: 100vh;
    }
}